{% load staticfiles %}
<html>
    <head>
        <script language="JavaScript" type="text/javascript" src="{% static 'MascaraValidacao.js' %}"></script> 
        <link rel="stylesheet" type ="text/css" href="{% static 'theme.css' %}">
        <script src="{% static 'jquery-1.2.6.pack.js' %}" type="text/javascript"></script>
        <script src="{% static 'jquery.maskedinput-1.1.4.pack.js' %}" type="text/javascript" /></script>

		<script type="text/javascript">
			$(document).ready(function(){	
				$("#cnpj").mask("99.999.999/9999-99");
			});
		</script>
    </head>

<body>
<h1>Você sabe como anda o setor de compras públicas da sua empresa?</h1>

<form name="form1" action="/board/" method="post">{% csrf_token %}
  <div>
    <label for="teste4">Entre com seu cnpj para descobrir: </label>
    <input type="text" name="cnpj" id="cnpj" onKeyPress="MascaraCNPJ(form1.cnpj);"
    maxlength="10" onBlur="ValidarCNPJ(form1.cnpj);" value="{{ current_name }}">
    <input type="submit" value="OK">
  </div>
</form>

<footer>


</footer>
</body>
</html>

