*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

div {
  max-width: 300px;
  margin: 30px auto;
  padding: 30px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1, p {
  font-size: 1.1em;
  text-align: center;
}

p.smaller {
  font-size: 0.8em;
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: center;
}

label.light {
  font-weight: 300;
  display: inline;
  text-align: left;
}

input {
  display: block;
  margin: 0 auto;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  display: inline;
  width: auto;
}
